<!-- @format -->

<h3>/logout</h3>
<form action="/logout" method="post">
	<h4>User</h4>
	<div>
		<label for="password">Password</label>
		<input type="password" name="password" id="password" />
	</div>
	<input type="submit" value="Login" />
</form>
